$bgImg: url(../img/0.jpg);
$bdImg1: url(../img/1.jpg);
$bdImg2: url(../img/2.jpg);
$bdImg3: url(../img/3.jpg);
$fontColorNav: white;
$fontColorMainH2: grey;
$fontColorMainP: black;
$bgReviews: #8D6F79;
$bgTour: #8695A2;
$fontTour: #C1D1D3;
$fontTour2: rgb(70, 70, 70);
$bgFooter: #3D5585;
$fontFooterH2: #659AFE;
$fontFooter: #0A275E;
$fontFooterLinks: #467ADE;
$btnColor: #0A275E;