$bgImg: url(../img/4.jpg);
$bdImg1: url(../img/5.jpeg);
$bdImg2: url(../img/6.jpg);
$bdImg3: url(../img/7.jpg);
$fontColorNav: #4E2846;
$fontColorMainH2: #4E2846;
$fontColorMainP: #4E2846;
$bgReviews: #8A6F8D;
$bgTour: #9F86A2;
$fontTour: #4E2846;
$fontTour2: #4E2846;
$bgFooter: #5D3D85;
$fontFooterH2: #B965FE;
$fontFooter: #4E2846;
$fontFooterLinks: #8A44D0;
$btnColor: #4F0A5E;